.nav-bar { 
    justify-content: center;
}

#footer-p {
    text-align: center;
    color: white;
    background-color: black;
    font-weight: 500;
}

.character-class{ 
    background-color: aqua;
}